body {
    font-family: "Montserrat";
}


/* title */

#title {
    background-color: #ff4c68;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;
    /* padding-top: 4rem; */
    padding-bottom: 2rem;
}

.container-fluid {
    padding: 3% 10% 8%;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
}


/* Download Button */

.download-button {
    margin: 0 3% 5% 0;
}


/* phone-image */

.phone-img {
    width: 20%;
    transform: rotate(25deg);
    margin-left: auto;
    position: absolute;
    right: 20%;
}

@media (max-width: 1028px) {
    .phone-img {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
    #title {
        text-align: center;
    }
}


/* features */

#features {
    text-align: center;
    padding: 0 9rem 5rem;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.check {
    padding: 9rem 2rem 0;
}

.bullseye {
    padding: 9rem 3.5rem 0;
}

.heart {
    padding: 9rem 2rem 0;
}

h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}

.check-icon {
    color: #ef8172;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.check-icon:hover {
    color: #ff4c68;
}

.bullseye-icon {
    color: #ef8172;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.bullseye-icon:hover {
    color: #ff4c68;
}

.heart-icon {
    color: #ef8172;
    font-size: 4rem;
    padding-bottom: 1rem;
}

.heart-icon:hover {
    color: #ff4c68;
}


/* testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 4rem;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

.btn1 {
    display: block;
    width: 100%;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}


/* Call to Action     */

#cta {
    background-color: #ff4c68;
    text-align: center;
}

.last-heading {
    color: #fff;
    font-size: 2.5rem;
    padding: 7% 20% 4%;
    line-height: 4rem;
    font-family: "Montserrat";
}

.last-btn {
    margin-bottom: 10%;
}

.scl-icon {
    padding: 3% 0.5% 1%;
}

#footer {
    text-align: center;
}